.title {
    font-size: 4rem;
    font-weight: bold;
    font-family: "Manrope", sans-serif;
    text-align: center;
    margin-bottom: 2rem;
}

.content {
    font-size: 1.5rem;
    font-family: "Manrope", sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: inherit;

}

html {
    box-sizing: border-box;
    font-size: 62.5%;
}

body {
    background-color: black;
    min-height: 100vh;
    position: relative;
    font-family: "Manrope", sans-serif;

}

.container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    border-radius: 12px;
    padding: 4rem 2rem;
    width: 40rem;
}

.inputGroup {
    margin-bottom: 2rem;
}

.label {
    font-size: 1.6rem;
    display: block;
    margin-bottom: 0.8rem;
}

.textInput {
    margin-bottom: 1rem;
    padding: 1rem 1.2rem;
    font-size: 1.6rem;
    outline: none;
    background: none;
    border: 1px solid #333;
    border-radius: 3px;
    width: 100%;
}

.buttonCriarConta {

    text-align: center;
    border-radius: 5px;
    font: "Inter";
    background-color: #810dfd;
    color: white;
    border-color: #810dfd;
    margin: 1.5rem auto;
    padding: 1rem;
    display: block;
}

.buttonEntrar {
    width: 100%;
    text-align: center;
    margin-top: 2rem;
    margin-bottom: 4rem;
    padding: 1rem 0;
    border-radius: 5px;
    font: "Inter";
    background-color: #810dfd;
    color: white;
    border-color: #810dfd;
    cursor: pointer;

    transition: all 0.2s;
}

.buttonEntrar:hover {
    transform: scale(1.05)
}