
#botao{
    text-align: center;
    background-color: #810DFD;
    height: 40px;
    width: 240px;
    border: solid 2px black;
    border-radius: 5px;
    padding: 0px;
    margin-top: 20px;
    font-size: 20px;
    font-family: 'Manrope', sans-serif;
    border-color: #808080;
}