/*quem somos*/
#qs1{
    margin-top: 5%;
    text-align: center;
    height: 50px;
}

#qs2{
    font-size: 35px;
    font-family: 'Manrope', sans-serif;
}

#qs3{
    margin-top: 20px;
    font-family: manrope;
    font-size: 20px;
}

#botao{
    text-align: center;
    background-color: #810DFD;
    height: 40px;
    width: 240px;
    border: solid 2px black;
    border-radius: 5px;
    padding: 0px;
    margin-top: 20px;
    font-size: 20px;
    font-family: 'Manrope', sans-serif;
    border-color: #808080;
}

#imagem{
    padding-left: 200px;
}

