/*quem somos*/
#qs1{
    margin-top: 5%;
    text-align: center;
    height: 50px;
}

#qs2{
    font-size: 35px;
    font-family: 'Manrope', sans-serif;
}

#qs3{
    margin-top: 20px;
    font-family: manrope;
    font-size: 20px;
}

#botao{
    text-align: center;
    background-color: #810DFD;
    height: 40px;
    width: 240px;
    border: solid 2px black;
    border-radius: 5px;
    padding: 0px;
    margin-top: 20px;
    font-size: 20px;
    font-family: 'Manrope', sans-serif;
    border-color: #808080;
}

.call-to-action {
    background-color: #810DFD;
    border-radius: 7px;
    color: white;
    border-color: #810DFD;
    font-family: 'Manrope';
    font-size: 20px;
}

#imagem{
    padding-left: 200px;
}

#centerCarousel{
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 2%;
    height: 50%;
    width: 50%;
    margin-left: 25%;
}