/* Estilização geral do site */

/* Deixa Manrope como fonte padrão do site */
body {
    font-family: 'Manrope', sans-serif;
}

/* Padroniza margem lateral */
main {
    margin: 0 2vw;
}

/* Centraliza elementos */
.centered {
    display: flex;
    align-items: center;
}

/* Padroniza parágrafos */
p {
    font-size: small;
    font-family: 'Manrope', sans-serif;
}

/* Padroniza links */
a {
    color: #FFFFFF8C;
    text-decoration: none;
}
a:hover {
    color: #C7C8C9;
    text-decoration: none;
}
a:active {
    color: white;
    text-decoration: none;
}

/* Padroniza botões */
.btn-primary {
    background: #810DFD;
    border-color: #810DFD;
}

.btn-primary:hover {
    background-color: #810DFD;
}

.btn-primary:visited,
.btn-primary:active,
.btn-primary:focus {
    background: #810DFD;
    outline-color: transparent;
}

/* Padroniza barra de navegação */
.navbar {
    font-family: monospace, sans-serif;
    color: white;
}

/* Padroniza título da página */
#page-title {
    margin-top: 3vh;
    text-align: center;
    font-size: 5vh;
    font-family: 'Manrope', sans-serif;
}


/* Padroniza footer */
footer {
    background-color: #232228;
    color: white;
    font-family: monospace, sans-serif;
    position: absolute;
}

.social-media-icons {
    color: #FFFFFF8C;
    padding: 0 2%;
}

#footer-logo {
    width: 6%;
    height: 6%;
    padding-right: 1%;
}

.footer-content {
    padding: 1vh 0;
}

/* Padroniza título do site no footer */
.main-title {
    padding: 0;
    margin: 0;
    font-size: medium;
}


/* Padroniza cores do site */
.yellow {
    background-color: #f8c000;
}

.purple {
    background-color: #810DFD;
}

.black {
    background-color: #232228;
}

.white {
    background-color: #fff;
}


/* Padroniza alguns links */
.link {
    font-family: 'Manrope';
    color: #1F033D;
}

/* Mantém footer na base da página */
#page-container {
    position: relative;
    min-height: 100vh;
}

#content-wrap {
    padding-bottom: 2.5rem;
}

/* Padroniza header */
#header {
    position: fixed;
    width: 100%;
}

/* Padroniza conteúdo de texto */
#content-text {
    font-size: 1.5rem;
    font-family: "Manrope", sans-serif;
    text-align: center  ;
    margin-bottom: 2rem;
}