/* Generic styling */

body {
    font-family: 'Manrope', sans-serif;
}

main {
    margin: 0 2vw;
}

.centered {
    display: flex;
    align-items: center;
}

p {
    font-size: small;
    font-family: 'Manrope', sans-serif;
}

a {
    color: #FFFFFF8C;
    text-decoration: none;
}

a:hover {
    color: #C7C8C9;
    text-decoration: none;
}

a:active {
    color: white;
    text-decoration: none;
}

.btn-primary {
    background: #810DFD;
    border-color: #810DFD;
}

.btn-primary:hover {
    background-color: #810DFD;
    background-color: #810DFD;
}

.btn-primary:visited,
.btn-primary:active,
.btn-primary:focus {
    background: #810DFD;
    border-color: none;
    outline-color: transparent;
}

/* Navbar styling */

.navbar {
    font-family: "Space Mono", monospace;
    color: white;
}


/* Top of the page styling */

#page-title {
    margin-top: 3vh;
    text-align: center;
    font-size: 5vh;
    font-family: "Space Mono", monospace;
}


#homepageImage {
    width: 100%;
    height: 100%;
}

/* Footer styling */

footer {
    background-color: #232228;
    color: white;
    font-family: 'Space Mono', monospace;
    position: absolute;
    bottom: 0;
    width: 100%;
    /* Footer height */

}

.social-media-icons {
    color: #FFFFFF8C;
    padding: 0 2%;
}

#footer-logo {
    width: 6%;
    height: 6%;
    padding-right: 1%;
}

.footer-content {
    padding: 1vh 0;
}

.main-title {
    padding: 0;
    margin: 0;
    font-size: medium;
}

.yellow {
    background-color: #f8c000;
}

.purple {
    background-color: #810DFD;
}

.black {
    background-color: #232228;
}

.white {

    background-color: #fff;
}

.titlehome {
    font-size: 56px;
    font-weight: bold;
    font-family: 'Manrope', sans-serif;
    text-align: center;
    color: #232228;
}

.button {
    border-radius: 15px;
    font: "Inter";
    background-color: #810DFD;
    color: white;
    border-color: #810DFD;
    font-family: manrope;
    font-size: 23px;
}

.link {
    font-family: manrope;
    color: #1F033D;
}

.title2home {
    font-size: 45px;
    font-weight: bold;
    font-family: monospace;
    text-align: center;
    color: #232228;
    margin: 130px;
    ;
}