/* CSS da página inicial */

/* Título sobre a foto inicial */
.titlehome {
  font-size: 350%;
  font-weight: bold;
  font-family: 'Manrope', sans-serif;
  text-align: center;
  color: #232228;
  overflow: hidden;
}

/* Subtítulo sobre a foto inicial */
.title2home {
  font-size: 45px;
  font-weight: bold;
  font-family: 'Manrope', sans-serif;
  text-align: center;
  color: #232228;
  margin: 130px;
;
}

/* imagem inicial */
#homepageImage {
  position: absolute;
  object-fit: cover;
  max-width: 100%;

}

/* CSS da página inicial */
.text-shadow-1 {
  text-shadow: 0 .125rem .25rem rgba(0, 0, 0, .25);
}

/* imagem dos cards de dados */
.card-cover {
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

/* Estiliza as fontes das notícias nos cards */
.bi {
  vertical-align: -.125em;
  fill: currentColor;
}

/* Estiliza botões de call to action */
.call-to-action {
  background-color: #810DFD;
  border-radius: 7px;
  color: white;
  border-color: #810DFD;
  font-family: 'Manrope';
  font-size: 4vh;
}

/* Personaliza containers bootstrap */
.container {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

/* Personaliza containers e cards bootstrap */
.container .card {
  position: relative;
  max-width: 450px;
  background: #f8c000;
  display: flex;
}