/* Questions styling */

.questions {
    padding: 1% 0% 3% 1%;
}

.question-header {
    background-color: #FFE600;
    padding: 1% 1% 0% 0;
}

.question-wording {
    padding: 0;
    margin: 0;
}

#questions-container {
    border: 1px solid #808080;
    border-radius: 2px;
    padding: 1%;
}

.alternatives {
    margin-bottom: 2vh;
}

.form-check-label {
    font-family: "Manrope", sans-serif;
    font-size: small;
}