
footer {
    background-color: #343a40;
    color: white;
    margin-top: auto;
    font-family: 'Space Mono', monospace;
}

.social-media-icons {
    color: white;
    padding: 2%;
}

#footer-logo {
    width: 6%;
    height: 6%;
    padding-right: 1%;
}

.footer-content {
    padding: 1vh 0;
}

.main-title {
    padding: 0;
    margin: 0;
    font-size: medium;
}