

.main-title {
    padding: 0;
    margin: 0;
    font-size: medium;
}
.centered {
    display: flex;
    align-items: center;
}

#page-title {
    margin-top: 3vh;
    text-align: center;
    font-size: 5vh;
    font-family: 'Manrope';
}

#img_right {
    max-width: 75%;
    height: 75%;
    
}
#img_left {
    max-width: 75%;
    height: 75%;
}
