@import url('https://fonts.googleapis.com/css2?family=Manrope&display=swap');
.body {
    font-family: 'Manrope', sans-serif;
}


#form.row{
    width: 50%;
    justify-content: center;
    display: flex;
}

select{
    background-color: blueviolet;
    color: white;
    border-radius: 7px;
}

select option {
    background-color: #C4C4C4 ;
}

option: {
    background-color: #C4C4C4 ;
}

